@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  --base: #1511fc;
  --spacing: 0;
  --blur: 0;
  --border: 0;
  --light-gray: rgba(245, 245, 245, 0.658);
  --light-purple: #664aff;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background: var(--light-purple);
}
header {
  padding: 2rem 0;
  position: relative;
}

.img__section .img__wrapper {
  width: 350px;
  height: 350px;
  max-width: 100%;
  max-height: 100%;
  margin: 0 auto;
  overflow: hidden;
  text-align: center;
}
.img__section .img__wrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: var(--border);
  filter: blur(var(--blur));
  padding: var(--spacing);
  background-color: var(--base);
}
.img__section .file__wrapper {
  margin-top: 1.5rem;
  text-align: center;
}
.img__section .file__wrapper label {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
  color: var(--light-gray);
  padding: 10px 25px;
  border-radius: 0.2rem;
  cursor: pointer;
  font-size: 18px;
  transition: box-shadow 0.3s ease;
}
.img__section .file__wrapper label:hover {
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
}
.img__section .file__wrapper input {
  display: none;
}

.settings {
  position: relative;
  margin: 1.5rem 2% 3rem;
  height: 2px;
  background-color: rgba(255, 255, 255, 0.1);
}
.settings p {
  position: absolute;
  top: 0px;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--light-purple);
  padding: 0 1.5rem;
  font-size: 1.2rem;
  letter-spacing: 1.2px;
  color: var(--light-gray);
  border-radius: 5px;
}
.wrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 30px;
  padding-bottom: 10px;
}
.contents {
  width: fit-content;
}
.contents p {
  font-size: 1.1rem;
  color: var(--light-gray);
  margin-bottom: 4px;
}
.contents div.value {
  color: var(--light-gray);
}

.content {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
  padding: 10px;
  width: 300px;
  display: flex;
  align-items: center;
  border-radius: 5px;
  gap: 8px;
  height: 50px;
}

.input-range__wrapper {
  position: relative;
  width: 100%;
}
.input-range__wrapper span {
  color: #fff;
  position: absolute;
  top: -45px;
  transform: translateX(-50%) scale(0);
  width: 30px;
  height: 30px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.input-range__wrapper input[type="range"] {
  width: 100%;
  height: 4px;
  outline: none;
  border: none;
  cursor: pointer;
  height: 5px;
  accent-color: gold;
}
.input-range__wrapper span.show {
  transform: translateX(-50%) scale(1);
}

.input-range__wrapper span::after {
  content: "";
  position: absolute;
  background-color: var(--light-purple);
  width: 30px;
  border: 1px solid #fff;
  height: 30px;
  transform: rotate(-45deg);
  z-index: -1;
  border-top-right-radius: 50%;
  border-top-left-radius: 50%;
  border-bottom-right-radius: 50%;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.8);
}

.input__range--wrapper input[type="range"] {
  width: 100%;
  height: 5px;
  accent-color: var(--light-purple);
  border-radius: 5px;
  outline: none;
  cursor: ew-resize;
}
.content .value {
  color: rgba(0, 0, 0, 0.8);
}
.content input[type="color"] {
  width: 100%;
  cursor: pointer;
}

@media screen and (width < 500px) {
  .container {
    margin: 20px;
  }
  .contents {
    width: 100%;
  }
  .content {
    width: 100%;
  }
}
